In [9]:
import numpy as np
import pandas as pd
from IPython.display import Image, display
from IPython.core.display import HTML
try:
    # Define the data to be used
    df = pd.read_csv('http://data.edmonton.ca/api/views/bqmh-j34s/rows.csv?accessType=DOWNLOAD')
    #remove special chars of column names
    df.columns=df.columns.str.replace('#','')
    df.columns=df.columns.str.replace('.','')
    df.columns=df.columns.str.replace(':','')
    df.columns=df.columns.str.replace('"','')
    df.columns=df.columns.str.replace(' ','')
    pd.options.display.float_format = '{:,.2f}'.format
    display(HTML('<h1>First Lines of the Dataset</h1>'))
    display(df.head())   
    display(HTML('<h1>Some Indicators</h1>'))
    display(df.describe(include='all'))
except Exception:
    print("ups no csv file found under the url you provided")

  FORWARDSORTATIONAREA ANIMALTYPE                BREED  COUNT
0                  T6A        Dog  SHEPHERD, ANATOLIAN      2
1                  T6W        Dog             SHIH TZU    155
2                  T6H        Dog              UNKNOWN      4
3                  T6C        Dog      GERMAN SHEPHERD    129
4                  T5A        Cat  DOMESTIC SHORT HAIR    987

       FORWARDSORTATIONAREA ANIMALTYPE    BREED    COUNT
count                  5622       5626     5626 5,626.00
unique                   39          3      293      nan
top                     T6L        Dog  UNKNOWN      nan
freq                    213       4604       61      nan
mean                    NaN        NaN      NaN    17.08
std                     NaN        NaN      NaN    61.48
min                     NaN        NaN      NaN     1.00
25%                     NaN        NaN      NaN     1.00
50%                     NaN        NaN      NaN     4.00
75%                     NaN        NaN      NaN    11.00
max                     NaN        NaN      NaN 1,488.00